<main>
  <div class="jumbotron">
    
    <div class="row">
      <div class="col-sm-9 ml-sm-4">
        <router-outlet></router-outlet>
              <h2>Virtual Racing</h2>
              <p>A virtual race allows you, the participant, to provide support to STPS as if you were at the live event.
              You provide monetary support by registering.  You get to run, jog or walk the 5K whenever you can schedule.  
              Your 5K can be completed at one time or over several days.  And you will receive a finisher's medal and Turtle 
              Krawl shirt. Everyone wins!  Turtles and you!  </p>
              <br />
            <p>2019 race shirt!</p>
            <img src="/src/assets/img/shirt.png" alt="racing shirt" />
      </div>						
    </div>
  </div>	
</main>		
