<main>
  <div class="jumbotron">
    
    <div class="row">
      <div class="col-sm-9 ml-sm-4">
        <router-outlet></router-outlet>
              <h2>Sea Turtle Preservation Society</h2>
                <p>
                  STPS Mission Statement says it all: 
                  "Helping Sea Turtles Survive.  STPS volunteers are a dedicated bunch!"
                  With only one employee, who works the Sea Turtle House, donations go 
                  towards saving the turtles.  Volunteers support education, rescues, 
                  monthly beach clean-up and so much more.

                  The majority of our funds come from our annual fundraiser, Turtle Krawl 5K.
                  Our virtual race supports this event. 
                  
                </p>
      </div>						
    </div>
  </div>	
</main>		